<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		
		<title>Lenny ROUANET × {{ page.title }}</title>
		
		<meta name="description" content="Lenny ROUANET ... Full stack designer : produit, application, photographie, interieur, musique, ...">
		<meta name="application-name" content="Lenny ROUANET">
		<meta name="HandheldFriendly" content="true">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=3.0">
		
		<link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="128x128">
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.4/reboot.css">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Josefin+Sans:wght@300&family=Lato:wght@300;400&display=swap">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Lenny ROUANET">
		<meta property="og:title" content="Lenny ROUANET">
		<meta property="og:description" content="Full stack designer">
		<meta property="og:url" content="">
		<meta property="og:image" content="{{ site.url }}/assets/images/logo.png">
		
		<meta property="twitter:site" content="@lennyrouanet">
		<meta property="twitter:title" content="Lenny ROUANET">
		<meta property="twitter:description" content="Full stack designer">
		<meta property="twitter:url" content="">
		<meta property="twitter:image" content="/assets/images/logo.png">
		<meta property="twitter:card" content="summary_large_image">
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Lenny ROUANET">
		<meta name="apple-mobile-web-app-status-bar-style" content="#000000">

		<meta name="msapplication-TileImage" content="/assets/images/favicon.svg">
		<meta name="msapplication-TileColor" content="#C71212">
		
		<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<![endif]-->
		
		<meta name="theme-color" content="#FFFFFF">
	</head>
	{% include header.html %}