header {
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	
	@media (max-width: $breakpoint) {
	
		-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
	
	}
	
	&.open {
		
		bottom: 0;
		
	}

	a.name {

		display: block;
		color: inherit;
		padding: 30px;
		
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1.25px;
		line-height: 1.2em;
		font-weight: 300;
		text-decoration: none;
		color: #fff;
		
		span {
			
			display: block;
			
		}
	}
	
	a.nav-handle {
	
		position: absolute;
		z-index: 9;
		top: 0;
		right: 0;
		width: 90px;
		height: 90px;
		padding: 30px;
		cursor: pointer;
		
		
		&:before,
		&:after {
		
			position: absolute;
			top: 40px;
			right: 30px;
			content: "";
			display: block;
			height: 2px;
			width: 20px;
			background: #fff;
			transition: width ease-in-out .25s .30s, top ease-in-out .15s .15s, transform ease-in-out .05s;
			
		}
		
		&:after {
		
			top: 50px;
			width: 30px;
			
		}
		
		&.open {
			
		
			&:before,
			&:after {
			
				top: 45px;
				width: 30px;
				transition: width ease-in-out .05s, top ease-in-out .15s .05s, transform ease-in-out .25s .30s;
				
			}
			&:before {
			
				transform: rotate(-45deg);
				
			}
			&:after {
			
				top: 45px;
				transform: rotate(45deg);
				
			}
		}
	}
	
	nav {

		display: none;
		
		&.menu {
		
			&:before {
			
				content: "";
				display: block;
				position: fixed;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0;
				background: rgba(0,0,0,.25);
				-webkit-backdrop-filter: blur(15px);
				backdrop-filter: blur(15px);
				transition: opacity ease-in-out .5s;
				
				@media (max-width: $breakpoint) {
				
					-webkit-backdrop-filter: unset;
					backdrop-filter: unset;
				
				}
				
			}
		}
		
		&.open {
		
			position: fixed;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-start;
			
			a {
			
				visibility: visible;
				opacity: 1;
				
			}
			
			&.menu {
				
				padding-top: 90px;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				
				&:before {
				
					opacity: 1;
					
				}
				
				a {
					
					padding: 30px;
					text-decoration: none;
					color: #fff;
					
				}
			}
			
			&.social {
				
				bottom: 15px;
				right: 15px;
				
				@media (max-height: $breakpointHeight) {
				
					left: 15px;
					flex-direction: row;
					flex-wrap: wrap-reverse;
					justify-content: flex-end;
					margin: auto;
				
				}
				
				a {
					
					padding: 15px;
					text-decoration: none;
					color: #fff;
					
					@media (max-width: $breakpoint) {
					
						width: 60px;
						height: 60px;
						line-height: 60px;
					
					}
					
					i {
						
						@media (max-width: $breakpoint) {
						
							margin: 0;
						
						}
						
					}
					
				}
			}
		}
		
		
		a {

			visibility: hidden;
			opacity: 0;
			font-family: "Josefin Sans", serif;
			color: #fff;
			transition: opacity ease-in-out .15s .25s;
			text-transform: uppercase;
			
		}
		
		&.menu {
			
			a {
				
				font-size: 60px;
				
				@media (max-height: $breakpointHeight) {
				
					font-size: 50px;
				
				}
				
			}
		}
		
		&.social {
			
			a {
				
				display: flex;
				flex-direction: row;
				align-items: center;
				font-family: "Lato", sans-serif;
				
				i {
					
					font-size: 24px;
					order:2;
					margin-left: 15px;
					
				}
				
				span {
					
					display: none;
					font-size: 16px;
					
				}
			}
		}
	}
}

@media (hover: hover) {

	header {
		
		a:hover {
					
			color: inherit;
			text-decoration: none;
			
		}
		
		a.name:hover {
					
			opacity: .5;
			
		}
		
		a.nav-handle:hover {
		
			&:hover:before,
			&:hover:after {
			
				transition: width ease-in-out .15s .15s, transform ease-in-out .15s .15s, top ease-in-out .15s;
				
			}
			&:hover:before {
			
				width: 30px;
				top: 35px;
				transform: rotate(-45deg);
				
			}
			&:hover:after {
			
				width: 30px;
				top: 55px;
				transform: rotate(45deg);
				
			}
			
			&.open:hover {
				
				&:before {
					
					top: 55px;
					
				}
				&:hover:after {
					
					top: 35px;
					
				}
			}
		}
		
		nav {
			
			&.menu {
				a:hover {
					
					text-decoration: underline;
					
				}
			}
			
			&.social {
				a:hover {
					
					span {
						display: block;
						opacity: .65;
					}
					
					@media (max-width: $breakpoint) {
					
						span {
							display: none;
						}
					
					}
				}
			}
		}
	}
}