.button {
	background: rgba(255,255,255,.5);
	border: solid 1px #fff;
	color: #fff;
	line-height: 2em;
	padding: 0 15px;
	border-radius: 5px;
	text-decoration: none;	
}

@media (hover: hover) {
	.button {
		&:hover {
			background: rgba(255,255,255,.25);
			color: inherit;
		}
	}
}