.button {
	background: rgba(33,37,41,.5);
	color: #fff;
	line-height: 2em;
	padding: 0 15px;
	border-radius: 5px;
	text-decoration: none;	
}

@media (hover: hover) {
	.button {
		&:hover {
			background: rgba(33,37,41,.25);
			color: inherit;
		}
	}
}